* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    min-height: 100dvh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 600px;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    border-radius: 8px;
    padding: 20px;
}

.relogio div {
    border: 1px solid black;
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    letter-spacing: 2px;
    border-radius: .8rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
}

#horas, #minutos, #segundos {
    font-size: 70px;
    font-weight: bold;
}

.tempo {
    
    font-size: .8rem;
    font-weight: bold;
}